.home {
    &__counter-badge {
        margin-right: 4px;
        background: royalblue;
    }

    &__header {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__podcast-link {
        text-decoration: none;
        display: block;
        width: 20%;
        margin: 16px;
    }
}